.s-container {
  width: 1326px;
  margin: 0 auto;
}

.commonview-box {
  position: relative;
  width: 404px;
  min-height: 891px;
  background-color: #fff;
  float: left;
  margin-right: 48px;
  padding-bottom: 120px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-webkit-box-sizing: border-box;
}
.content-box {
  float: left;
  width: 874px;
  min-height: 891px;
  background-color: #fff;
  padding-bottom: 40px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-webkit-box-sizing: border-box;
}
.content-box-new .title{


}
.commonview-box ul li {
  position: relative;
  height: 60px;
  border-radius: 5px;
  margin: 24px;
  // transition: all 0.3s;
  background: url('../img/svg/2.svg') no-repeat right 20px center;
  
}
.commonview-box .active{
  color: #006bff;
  background: url('../img/svg/1.svg') no-repeat right 20px center;
}
.commonview-box ul li a {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 60px;
  font-size: 24px;
  font-family: Source Han Sans CN;
  font-weight: 500;
  color: inherit;
  background-color: transparent;
}
.commonview-box ul li img {
  position: absolute;
  left: 24px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
}
.commonview-box .active {
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  color: #006bff;
  background-color: #f5f7fa;
}
.commonview-box .active .img{

}
.commonview-box ul li img{
  position: absolute;
  right: 24px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}
.btn-box {
  padding: 0 24px;
}
.sort-btn {
  position: absolute;
  bottom: 24px;
  width: 80%;
  left:10%;
  height: 60px;
  font-size: 24px;
  font-family: Source Han Sans CN;
  font-weight: 500;
  line-height: 60px;
}
.title ul li {
  width: 356px;
  height: 60px;

  border-radius: 5px;
  margin:24px  auto 0;
  background:url('../img/svg/21.svg') no-repeat 24px center;
}
.title ul li a {
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 60px;
  font-size: 24px;
  font-family: Source Han Sans CN;
  font-weight: 500;
  color: #000;
  background-color: transparent;
}
.title .active {
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  color: #006bff;
  background-color: #f5f7fa;

}
.title .active input::-webkit-input-placeholder {
  color: #006bff;
}
.title .active input::-moz-input-placeholder {
  color: #006bff;
}
.title .active input::-ms-input-placeholder {
  color: #006bff;
}
.title input{
  box-sizing: border-box;
  margin-left: 96px;
  height: 100%;
  line-height: 60px;
  font-size: 24px;
  font-family: Source Han Sans CN;
  font-weight: 500;
  background: transparent;
  opacity: 1;
  color: #006bff;
}
.text .input_box {

  height: 60px;
  border-radius: 5px;
  border: 2px solid #006bff;
  background: url('../../assets/img/svg/38.svg') no-repeat 24px center;
  margin: 24px 24px 0;


}
.text .input_box-new{
  position: relative;
  background: url('../../assets/img/svg/21.svg') no-repeat 24px center;
}
.text .input_box-new img{
  position: absolute;
  right: 24px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.text input {
  box-sizing: border-box;
  margin-left: 54px;
  height: 100%;
  line-height: 60px;
  font-size: 24px;
  font-family: Source Han Sans CN;
  font-weight: 500;
  background: transparent;
  opacity: 1;
  border-radius: 5px;
}

.text-btn-box {
  width: 68%;
  height: 60px;
  text-align: center;
  margin: auto;
  padding-top: 40px;
}
.text-btn {
  width: 100%;
  height: 60px;
  font-size: 24px;
  font-family: Source Han Sans CN;
  font-weight: 500;
  line-height: 60px;
}


@media screen and (max-width: 1346px) {
  
  .s-container{width: 100%;}
  .commonview-box{width:30%; margin-right: 2%;}
  .content-box{width:68%}
}